<div data-cy="streamsFolderList">
  <ng-container *ngIf="streams.length > 0; else nocontent">
    <div class="video-info" [ngClass]="{ 'even-row': i % 2 }" *ngFor="let video of streams; index as i">
      <soer-carousel
        [header]="video.title"
        [subHeader]="video.children?.length + ' видео'"
        *ngIf="video.children?.length"
      >
        <div class="carousel-item" *ngFor="let subVideo of video.children">
          <soer-thumbnail-card (click)="showVideo(subVideo)" [title]="subVideo.title" [img]="subVideo.thumb_url ?? ''">
          </soer-thumbnail-card>
          <soer-link-tag
            *ngFor="let tag of subVideo.tags || []"
            [pageLink]="tag | tag2link"
            (action)="gotoLink($event)"
          ></soer-link-tag>
        </div>
      </soer-carousel>
      <soer-thumbnail-card
        *ngIf="video.thumb_url && !video.children"
        (click)="showVideo(video)"
        [title]="video.title"
        [img]="video.thumb_url"
      >
      </soer-thumbnail-card>
    </div>
  </ng-container>
</div>

<router-outlet></router-outlet>
<ng-template #nocontent>
  <soer-access-denied></soer-access-denied>
</ng-template>
