::ng-deep .ant-card-meta-title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: fit-content;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  min-height: 38px;
  line-height: 18px;
  font-size: 14px;
}

.youtube-player {
  position: absolute;
  z-index: 1000;
  background-color: rgba($color: #fff, $alpha: 0.9);
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
  text-align: right;
}

.folder-icon {
  position: absolute;
  width: 100%;
  font-size: 4em;
  text-align: center;
}

.card-cover {
  &_folder {
    width: 100%;
    padding-bottom: 56%;
    margin: 1px 1px 0 1px;
    background-color: #f3f3f3;
    border: 0;
  }
}
@media screen and (min-width: 768px) {
  .youtube-player {
    width: 60vw;
    height: 70vh;
    top: 15vh;
    left: 20vw;
  }
  .warning-message {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .warning-message {
    width: 100%;
  }
  .youtube-player {
    width: 100vw;
    top: 0;
    left: 0;
  }
}
