::ng-deep .ant-card-bordered {
  border-radius: 5px;
}

.steps {
  ::ng-deep {
    .ant-statistic-title {
      height: 2.8rem;
      min-height: 2.8rem;
      overflow: hidden;
    }
    .ant-statistic-title:hover {
      height: auto;
      overflow: visible;
    }
  }
}

.link {
  text-align: right;
  ::ng-deep i.anticon {
    color: #1890ff;
    font-size: 1.5rem;
  }
}

.general-target {
  color: #535fd7;
  background-color: #e9edf3;
}
