<ng-container *ngIf="target$ | async as targets">
  <nz-divider nzText="Следующий шаг" nzOrientation="left"></nz-divider>
  <soer-targets-list [targets]="targets"></soer-targets-list>
</ng-container>
<nz-divider nzText="Метрики" nzOrientation="left"></nz-divider>
<soer-metrics-list
  *ngIf="metrics | async as metricsAwaited; else loading"
  [metrics]="metricsAwaited"
></soer-metrics-list>

<ng-template #aimIcon><p style="text-align: center">посмотреть</p></ng-template>
<ng-template #loading><nz-spin></nz-spin></ng-template>
