<ng-container *ngIf="target$ | async as targets">
  <nz-divider nzText="Следующий шаг" nzOrientation="left"></nz-divider>
  <soer-targets-list
    [targets]="targets"
  ></soer-targets-list>
</ng-container>
<nz-divider nzText="Метрики" nzOrientation="left"></nz-divider>
<div nz-row [nzGutter]="[24, 24]" class="metrics">
  <ng-container *ngFor="let metric of metrics">
    <nz-col class="metric-level" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
      <a [href]="metric['url']">
        <soer-tile
          *ngIf="metric.list$ | async as list; else loading"
          [tile]="{
            title: metric['title'],
            suffix: metric['suffix'],
            status: 'none',
            value: (list.items.length | number)!
          }"
        ></soer-tile>
        <ng-template #prefixTpl><i nz-icon [nzType]="metric['icon']"></i></ng-template>
      </a>
    </nz-col>
  </ng-container>
</div>

<ng-template #aimIcon><p style="text-align: center">посмотреть</p></ng-template>
<ng-template #loading><nz-spin></nz-spin></ng-template>
