<ng-container *ngIf="(targets$ | async)?.items as targets">
  <ng-container *ngIf="targets.length > 0; else nocontent">
    <div nz-row [nzGutter]="[24, 24]" class="targets">
      <ng-container *ngFor="let target of targets; let index = index">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" [nzXl]="isSingleMode ? 24 : 12" style="margin: 0 auto">
          <a [routerLink]="['/', 'pages', 'targets', 'filter', target.id]">
            <soer-tile
              [tile]="{
                title: target['title'],
                suffix: '%',
                status: 'normal',
                value: target['progress']
              }"
            ></soer-tile>
          </a>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #nocontent><nz-empty nzNotFoundImage="simple"></nz-empty></ng-template>
