<ng-container *ngIf="active$ | async as active">
  <div class="icon-tabs">
    <a
      *ngFor="let tab of tabs"
      [routerLink]="tab.path"
      nz-button
      nzSize="large"
      nzShape="round"
      [title]="tab.title"
      [disabled]="isTabDisabled(active, tab)"
      [nzType]="isTabDisabled(active, tab) ? 'dashed' : 'primary'"
      [attr.data-cy]="tab.title"
    >
      <i *ngIf="tab.icon" nz-icon [nzType]="tab.icon || 'empty'" nzTheme="outline"></i>
      <span *ngIf="tab.iconText">{{ tab.iconText }}</span>
    </a>
  </div>
</ng-container>
<router-outlet (activate)="activateTab()"></router-outlet>
<nz-drawer
  [nzClosable]="true"
  [nzVisible]="isShowDrawer"
  nzPlacement="right"
  nzTitle="Document settings"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <router-outlet name="drawer"></router-outlet>
  </ng-container>
</nz-drawer>
