.menu-drop {
  transition: all 0.5s linear;
  transform: translate(0);
  opacity: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  max-width: 24rem;
  max-height: calc(100vh - 5.5rem);
  padding: 1rem 2rem;
  background-color: #fff;
  position: absolute;
  bottom: 2.5rem;
  left: 0.2rem;
  box-shadow: 2px 2px 5px rgba(229, 230, 233, 0.864);

  &__item-icon {
    margin-right: 0.5rem;
  }

  &__img-pro {
    margin-top: -8px;
  }

  ul,
  li {
    list-style: none;
  }

  li {
    margin: 0.5rem;
    padding: 1rem 0.2rem;
    width: 8.5rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  i {
    font-style: normal;
  }

  a {
    color: black;
  }
}

.menu-drop__close {
  transform: translate(-150vw);
  opacity: 0;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-menu {
  z-index: 500;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
}

.desktop-menu {
  z-index: 500;
  position: fixed;
  right: 25px;
  bottom: 25px;
  padding: 2px 0 2px 1em;
  border-radius: 5%;
  box-shadow: 0 0 2px rgb(147 151 173 / 10%), 0px 2px 5px 2px rgb(147 151 173 / 30%);
  background-color: rgba($color: #fff, $alpha: 0.9);
}

.main-menu {
  flex-grow: 0;
}

.controls {
  display: flex;
  padding-right: 1em;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
  .control {
    margin: 2px;
  }
  .ant-btn {
  }
}
