/* You can add global styles to this file, and also import other style files */
.ant-popover-inner {
  max-height: 95vh;
  overflow-y: scroll;
}
.ant-dropdown-menu-item > *,
.ant-dropdown-menu-submenu-vertical > * {
  display: flex;
  align-items: center;
  gap: 4px;
}