<nz-form-item>
  <nz-form-control>
    <input nz-input [(ngModel)]="workbook.question" placeholder="Тема" nzSize="large" data-cy="abstracte-form-input" />
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-control>
    <div *ngIf="previewFlag; else blocks" class="workbook-view" style="padding: 1.5em">
      <ng-container *ngFor="let block of workbook.blocks">
        <soer-preview-block [block]="block"></soer-preview-block>
      </ng-container>
    </div>
  </nz-form-control>
</nz-form-item>

<ng-template #blocks>
  <soer-editor [document]="workbook"></soer-editor>
</ng-template>
