.ant-btn {
  &-save,
  &-return {
    vertical-align: -4px;
    float: right;
  }

  &-return {
    margin-right: 12px;
  }
}

.workbook-view {
  ::ng-deep img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
  }

  ::ng-deep img[src$='#medium'] {
    width: 75%;
  }
  ::ng-deep img[src$='#half'] {
    width: 50%;
  }
  ::ng-deep img[src$='#small'] {
    width: 25%;
  }
}
