<soer-carousel header="Стримы">
  <div class="carousel-item" *ngFor="let video of streams | async">
    <soer-thumbnail-card
      (click)="showVideo(video)"
      [title]="video.title"
      [description]="video.desc"
      [img]="video.thumb_url ?? ''"
    >
    </soer-thumbnail-card>
  </div>
</soer-carousel>

<soer-carousel header="Воркшопы">
  <div class="carousel-item" *ngFor="let video of workshops | async">
    <soer-thumbnail-card
      (click)="showVideo(video)"
      [title]="video.title"
      [description]="video.desc"
      [img]="video.thumb_url ?? ''"
    >
    </soer-thumbnail-card>
  </div>
</soer-carousel>

<router-outlet></router-outlet>
