.login-form {
  max-width: 300px;
  min-width: 300px;
  min-height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -150px;
}

.login-form_title {
  text-align: center;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

nz-spin {
  position: fixed;
  top: 50%;
  left: 50%;
}

#version {
  position: fixed;  /* Позиционируем элемент относительно окна браузера */
  bottom: 10px;     /* Отступ от нижнего края */
  left: 10px;       /* Отступ от левого края */
  color: #333;      /* Цвет текста */
  background: #fff; /* Фоновый цвет элемента */
  padding: 5px;     /* Внутренние отступы */
  font-size: 14px;  /* Размер шрифта */
  border-radius: 5px; /* Закругление углов */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень элемента */
  z-index: 9999;    /* Указание высокого z-index, чтобы убедиться, что элемент отображается поверх остальных элементов */
}
