<nz-calendar>
  <ng-container *ngIf="dateActivity$ | async as dateActivity">
    <div *nzDateFullCell="let date" class="day-wrapper" [ngClass]="getDateClass(date)">
      <div class="ant-picker-calendar-date-value ng-star-inserted date-header">{{ date | date: 'd' }}</div>
      <div class="ant-picker-calendar-date-content ng-star-inserted">
        <ol class="activity-list">
          <li *ngFor="let watchedVideos of getWatchedVideos(date)">
            Просмотрено видео <span class="video-title">{{ watchedVideos.title }}</span>
          </li>
        </ol>
      </div>
    </div>
  </ng-container>
</nz-calendar>
