<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="data.status === 'ok'">
    <div *ngFor="let link of data.items">
      <soer-video-player
        *ngIf="link.type === 'video' && link.key"
        [videoSource]="link.player"
        [videoId]="link.key"
      ></soer-video-player>
    </div>
  </ng-container>
  <ng-container *ngIf="data.status === 'error'">
    <h2>Вы не можете получить информацию из-за следующей ошибки:</h2>
    {{ data.items | json }}
  </ng-container>
</ng-container>
