<ng-container *ngIf="workbook$ | async as workbooks">
  <ng-container [ngSwitch]="workbooks.status">
    <ng-container *ngSwitchCase="loadingState.OK">
      <ng-container *ngTemplateOutlet="result; context: workbooks"></ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #result let-items="items">
  <div class="workbooks">
    <soer-workbooks-view
      [workbooks]="items"
      [emptyListTemplate]="emptylist"
      (workbookEdit)="workbookEdit($event)"
      (workbookView)="workbookView($event)"
      (workbookDownload)="workbookDownload($event)"
      (workbookDelete)="workbookDelete($event)"
      (createWorkbook)="createWorkbook()"
    ></soer-workbooks-view>
  </div>
</ng-template>

<ng-template #loading>
  <soer-preloader></soer-preloader>
</ng-template>

<ng-template #emptylist>
  <nz-result nzStatus="info" nzTitle="Создайте свой первый конспект">
    <div nz-result-extra>
      <p class="info">
        Для закрепления материала важно не только смотреть видео и читать книги, но и пытаться выделить главное.
      </p>
      <button nz-button nzType="primary" (click)="createWorkbook()">Начать</button>
    </div>
  </nz-result>
</ng-template>
